:root {
  --accent: #1b21f9;
  --bg: #e3e3e3;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg);
}

.logo p {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--accent);
  font-size: 100px;
}

.menu-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 200px;
  height: 35px;
  overflow: hidden;
}

.menu-container .col {
  position: absolute;
  width: 200px;
  cursor: pointer;
}

.menu-container .col:nth-child(1) {
  left: 0;
}

.menu-container .col:nth-child(2) {
  left: 200px;
}

.menu-container .col .menu-item {
  background-color: var(--accent);
  color: var(--bg);
  margin: 0.075rem;
  padding: 0.75rem;
  font-size: 7px;
}

.menu-container .col-2 .menu-item {
  position: relative;
  left: 200px;
}

.marquee-container {
  position: absolute;
  right: 0;
  width: 200px;
  padding: 0.5rem;
  background-color: var(--bg);
  color: var(--accent);
  overflow: hidden;
  border: 2px solid var(--accent);
  pointer-events: none;
  transform: scale(0);
}

.marquee-container .marquee {
  width: 2000px;
}
